<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- <style>
      footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
      }
    </style> -->
    
    
    
    
    
</head>
<body style="background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/double-bubble.png);">
    <nav class="navbar is-dark">
        <div class="container">
          <div class="navbar-menu">
            <div class="navbar-start">
              <div class="navbar-brand">
                  <a class="navbar-item" href="https://bulma.io">
                      <img src="https://cdn.dribbble.com/users/79252/screenshots/2825500/theatre-round-icon.png" alt="Bulma: a modern CSS framework based on Flexbox" width="80" height="40"> 
                  </a>
              </div>
              <a class="navbar-item" href="{% url 'welcome'%}">Home</a>
              <a class="navbar-item" href="{% url 'movies'%}">Movies</a>
            </div>
          </div>
              <div class="navbar-end" style="padding-top: 5px;">
                  <div class="navbar-item">
                    {% if user.is_authenticated %}
                      <div class="navbar-item">
                        <div class="set">
                            <div style="padding: 2px;">
                                <a class="button is-link is-light" href="#">Welcome,{{user.username}}</a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="navbar-item">
                      <div class="set">
                          <div style="padding: 2px;">
                              <a class="button is-link is-light" href="{% url 'logout' %}">logout</a>
                          </div>
                          
                      </div>
                    </div>                    
                    {% else %}
                      <div class="navbar-item">
                        <a class="button is-link is-light" href="{% url 'register' %}">Register</a>
                      </div>
                    {% endif %}
                  </div>

              </div>
           </div>
    </nav>
 
    <section class="section is-fixed-height is-fixed-width">
        <div class="columns is-centered">
            <div class="column is-half">
              <div class="card">
                <div class="card-content">
                  <form method="post">
                    {% csrf_token %}
                    <div class="field is-centered">
                      <label class="label">UserName</label>
                      <div class="control">
                        <input class="input" name="email" type="text" placeholder="Email Address">
                      </div>
                    </div>
                    <div class="field is-centered">
                      <label class="label">Password</label>
                      <div class="control">
                        <input class="input" name='password' type="password" placeholder="Password">
                      </div>
                    </div>
                    <div class="field is-centered">
                      <div class="control">
                        <input type="submit" class="button is-primary is-centered">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </section>
    <footer class="footer is-fixed-bottom">
        <div class="container has-text-centered">
        <p >&copy;Copyright 2022</p>
        </div>
    </footer>
</body>
</html>